{% extends "base.html" %} {% block content %}
<div class="col-md-6 offset-md-3">
  <div class="position-relative m-4">
    <br />
    <h1 class="display-6 text-center">
      Welcome to Our App <strong>Cagta Pro </strong>
    </h1>
    <br />
    <br />
    <h2>Login</h2>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="Username"
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
{% endblock %}
